:host {
  .employee-list {
    &-header {
      font-weight: 100;
    }

    &-search-bar {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &-title {
      padding: 15px;
      border-bottom: 3px solid #ff9629;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border-radius: 12px 12px 0 0;
    }
  }
}
